@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
.homepagesection{
  font-family: 'Poppins', sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.homepageheader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepageheader .logo{
  position: relative;
  max-width: 300px;
}

.homepageheader .navigation{
  position: relative;
  display: flex;
}

.homepageheader .navigation li{
  list-style: none;
}

.homepageheader .navigation li a{
  display: inline-block;
  font-size: 1.2em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  margin-left: 40px;
}

.content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox{
  position: relative;
  max-width: 600px;
  margin-right: 20px;
}

.content .textBox h2{
  color: #161616;
  font-size: 3em;
  margin-bottom: 10px;
  line-height: 1.4em;
  font-weight: 700;
}

.content .textBox p{
  color: #161616;
}

.content .textBox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #6f6d28;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.sci{
  position: absolute;
  bottom: 40px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci li{
  list-style: none;
}

.sci li a{
  display: inline-block;
  margin-left: 15px;
  background: #222;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.hoveranimationlink{
  transition: 0.3s;
  transform: scale(1);
}

.hoveranimationlink:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.hoveranimationlink:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
}

.sci li a:hover{
  background: #333;
  transition: TranslateY(-10px);
}

.sci li a img{
  transform: scale(0.5);
}

/**slider**/
.swiper-container{
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
   background-color: rgb(255, 255, 255, 0);
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 460px;
  display: flex;
  justify-content: center;
}

.content .imgBox{
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.content .imgBox img{
  max-width: 500px;
}

.swiper-slide{
  position: absolute;
  bottom: 0;
  max-height: 100%;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right{
    background-image:none;
}

@media (max-width: 991px)
{
  .circle{
    display: none;
  }
  .homepageheader{
    padding: 40px;
  }
  .homepagesection{
    padding: 150px 40px;
  }
  .sci{
    left: 40px;
  }
  .content{
    flex-direction: column;
  }
  .content .textBox,
  .content .imgBox{
    max-width: 100%;
  }
  .swiper-slide{
    height: 300px;
  }
  .homepageheader .navigation{
    display: none;
  }
  .homepageheader .navigation.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6f6d28;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .homepageheader .navigation li a{
    margin: 10px 0;
    font-size: 1.5em;
    font-weight: 300;
  }
  .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    background: url(https://cdn.discordapp.com/attachments/816448703808012308/874075070107119688/menu-button-of-three-horizontal-lines.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 10000;
  }
  .toggle.active{
    position: fixed;
    right: 40px;
    background: url(https://cdn.discordapp.com/attachments/816448703808012308/874064164119777290/Crosss.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #6f6d28;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #33e6cc, #7a00ff, #33e6cc, #7a00ff, #33e6cc, #7a00ff, #33e6cc, #7a00ff, #33e6cc);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #6f6d28
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #6f6d28;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}






:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root{
  --first-color: #6f6d28;
  --second-color: #000;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  transition: 0.1s;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  
  background-color: #fff !important;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 14px rgb(111, 109, 40, 1);
}

/* ===== WORK =====*/
.work__container{
  row-gap: 2rem;
}
.work__img{
  box-shadow: 0 4px 25px rgba(0,0,0,1);
  border-radius: .5rem;
  overflow: hidden;
}
.work__img img{
  transition: 1s;
  cursor:default;
}
.work__img img:hover{
  transform: scale(1.1);
}



/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }
  .nav__link{
    color: var(--second-color);
  }

  .home{
    height: 100vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 457px;
    bottom: 15%;
  }

  .about__container, .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img{
    width: 300px;
  }
  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }
  .contact__form{
    width: 360px;
  }
  .contact__container{
    justify-items: center;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
  }
}
